@model Movie

<h2>@Model.Title (@Model.ProductionYear)</h2>
<p>@Model.OriginalTitle</p>

<p>Filmens lengde: @Model.RunningLength</p>
<p>Sjanger: @Model.Genre.Name</p>

<p>Regisører: @Html.PrettyJoin(Model.Directors)</p>
<p>Produsenter: @Html.PrettyJoin(Model.Producers)</p>

<p>@Model.Description</p>


@Html.Partial("_Persons", Model.Actors.WithTitle("Skuespillere"))
@*@Html.Partial("_Persons", Model.Directors.WithTitle("Regisører"))
@Html.Partial("_Persons", Model.Producers.WithTitle("Produsenter"))*@
